@font-face {
  font-family: 'iconfont';  /* Project id 4109015 */
  src: url('//at.alicdn.com/t/c/font_4109015_smgx36nkd5g.woff2?t=1686124945295') format('woff2'),
       url('//at.alicdn.com/t/c/font_4109015_smgx36nkd5g.woff?t=1686124945295') format('woff'),
       url('//at.alicdn.com/t/c/font_4109015_smgx36nkd5g.ttf?t=1686124945295') format('truetype');
}
.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}